<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- jQuery validate plugin -->
<script src="https://hawkathon.org/validator/jquery.validate.min.js"></script>


<div class="container" style="max-width:600px;">

    <h2><img src="https://hawkathon.org/images/hawkathon/banner_logo_hawkathon.png?5678d6fe" /> 2016<br/><small>Application Form</small></h2>
    
    <div id="myForm">
    <p class="text-muted">Instructions: Please complete all fields. Resume must be included and be in .pdf format.</p>
    <p class="text-warning"><em>Failure to provide complete information (where applicable) will force us to disqualify your application.</em></p>

<form id="myApplication">
  <h3>Demographics</h3>
    <label>
        <p>First Name *</p>
    </label>
        <input class="form-control required-field" type="text" name="myFirstName" placeholder="Your name..">
    <br />
    <label>
        <p>Last Name *</p>
    </label>
        <input class="form-control required-field" type="text" name="myLastName" placeholder="Your name..">
    <br />
    <label>
        <p>Have you attended a hackathon before? *</p>
    </label>
        <select class="form-control required-field" name="myHackathon">
            <option value="">Please choose an option...</option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select>
    <br />
    <label>
        <p>What sort of project are you interested in? *</p>
    </label>
        <select class="form-control required-field" name="myHack">
            <option value="">Please choose an option...</option>
            <option value="Software">Software hack</option>
            <option value="Hardware">Hardware hack</option>
            <option value="Both">Combination</option>
        </select>
    <br />
    <label>
        <p>Age Verification *</p>
    </label>
        <select class="form-control required-field" name="myAge">
            <option value="">Please choose an option...</option>
            <option value="Under">I will be under 18 by March 25, 2016</option>
            <option value="Over">I will be over 18 by March 25, 2016</option>
        </select>
    <br />
  <h3>School Information</h3>
    <label>
        <p>What school will you be coming from? *</p>
    </label>
        <input class="form-control required-field" type="text" name="mySchool" placeholder="Your School..">
    <br />
    <label>
        <p>Projected year of graduation *</p>
    </label>
        <select class="form-control required-field" name="myYOG">
            <option value="">Please chose an option...</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="Other">Other</option>
        </select>
    <br />
    <label>
        <p>Primary Major Of Study *</p>
    </label>
        <select class="form-control required-field" name="myMajor">
            <option value="">Please chose an option...</option>
            <option value="CS">Computer Science</option>
            <option value="CSE">Computer (Systems) Engineering</option>
            <option value="CE">Computer Engineering</option>
            <option value="EE">Electrical Engineering</option>
            <option value="SE">Software Engineering</option>
            <option value="Other">Other</option>
        </select>
    <br />
    <label>
        <p>Other / Second Major</p>
    </label>
        <input class="form-control" type="text" name="myOtherMajor" placeholder="If you have a second major or chose 'Other' above, please describe here.">
    <br />
  <h3>Contact Information &amp; Interests</h3>
    <label>
        <p>Email *</p>
    </label>
        <input class="form-control required-field" type="text" name="myEmail" placeholder="(.edu preferred)">
    <br />
    <label>
        <p>Any particular career interest(s)?</p>
    </label>
        <input class="form-control" type="text" name="myCareer" placeholder="Software developer, etc.">
    <br />
    <label>
        <p>Link to Github / Bitbucket / Etc.</p>
    </label>
        <input class="form-control" type="text" name="myGit" placeholder="bitbucket.org/jki....">
    <br />
    <label>
        <p>Link to Personal Website</p>
    </label>
        <input class="form-control" type="text" name="myWebsite" placeholder="http://www.cs.uml.edu/~bill/cs305/Assignment_6.pdf">
    <br />
    <label>
        <p>Please list any food allergies *</p>
    </label>
        <textarea class="form-control required-field" rows="3" name="myAllergies" placeholder="List allergies/dietary restrictions otherwise type 'None'"></textarea>
    <br />
    <label>
        <p>Resume (.pdf only) *</p>
    </label>
        <input class="form-control" type="file" name="myFile">
    <label>
        <p id="uploadStatusMessage"></p>
    </label>        
    <br />
    <input id="uploadMyFile" type="submit" class="btn btn-primary" value="Submit my Application" onclick="uploadFile();">
    <br /><br />
</form>

<p>* By submitting this form you are affirming that the information you have given is accurate.</p>
<p><em>Your information is being stored on a password protected Google Spreadsheet and file store.</em></p>

</div>

<div class="dialog" id="output"></div>

</div>


<script>

  function fileUploaded(status) {
      if ( status == "good" ) {
          document.getElementById('myForm').style.display = 'none';
          document.getElementById('output').innerHTML = "<p class='bg-success'>Resume uploaded successfully and form submitted.<br />Questions/Concerns about your submission? Please email team@hawkathon.org.</p><p>If you submitted by January 31, 2016 you will receive an email response from us by about February 6th, 2016 letting you know if you were accepted into this year's Hawkathon or not.";
      }
      if ( status == "bad" ) {
          document.getElementById('uploadMyFile').value = "Try Again";
          document.getElementById('uploadStatusMessage').className = "bg-danger";
          document.getElementById('uploadStatusMessage').innerHTML = "File not .pdf. Choose another file then click Try Again.";
      }
      else return false;
  }
    
  function uploadFile() {
  
      var form_validate = $( "#myApplication" );
      
      form_validate.validate();
      // alias required to cRequired with new message
      $.validator.addMethod("cRequired", $.validator.methods.required, "<p class='bg-danger'>Field required</p>");
      $.validator.format("Customer name must have at least {0} characters");
      $.validator.addClassRules("required-field", { cRequired: true });
      
      if ( form_validate.valid() == true ) {
 
          document.getElementById('uploadMyFile').value = "Uploading File..";
    
          google.script.run
              .withSuccessHandler(fileUploaded)
              .uploadFiles(document.getElementById("myApplication"));
          return false;
      }
      
      else {
          document.getElementById('uploadMyFile').value = "Try Again";
      }
  }

</script>